<div class="chat-container">
  <header class="chat-header">
    <h1></h1>
    <a href="index.html" class="btn" (click) = "leaveRoom()">Leave Room</a>
  </header>
  <main class="chat-main">
    <div class="chat-sidebar">
      <h3>Channel Name:</h3>
      <h2 id="room-name">{{currentChannel}}</h2>
    </div>
    <div class="chat-messages">
        <div *ngFor = "let message of messages" class="message">
          <p class="meta">{{message.name}}</p>
          <p class="text">
            {{message.message}}
          </p>
        </div>
    </div>
  </main>
  <div class="chat-form-container">
    <form id="chat-form">
      <input
        id="msg"
        type="text"
        name = "messagecontent"
        [(ngModel)] = "messagecontent"
        placeholder="Enter Message"
        required
        autocomplete="off"
      />
      <button class="btn" (click) = "chat()">Send</button>
    </form>
  </div>
</div>

<script src="main.js"></script>