<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
		<title>ChatCentre</title>
	</head>
	<body>
        <div id = "header">
            <h1>{{title}}</h1>
            
            <div id = "logoutButton" *ngIf = "signInStatus == true">
                <a routerLink = "" routerLinkActive = "true" (click) = logout()><h3>Log Out</h3></a>
            </div>
            <div id = "userDisplay" *ngIf = "signInStatus == true">
                <h3>{{currentUser}}</h3>
            </div>
            
        </div>
        <div id = "subheader">
            <div id = "adminButton" *ngIf = "signInStatus == true">
                <a routerLink = "/assis" routerLinkActive = "true"><h3>Assis Group</h3></a>
            </div>
            <div id = "adminButton" *ngIf = "currentRole == 'super' || currentRole == 'group'">
                <a routerLink = "/group" routerLinkActive = "true"><h3>Group Admin</h3></a>
            </div>
            <div id = "adminButton" *ngIf = "currentRole == 'super'">
                <a routerLink = "/super" routerLinkActive = "true"><h3>Super Admin</h3></a>
            </div>
            <div id = "adminButton" *ngIf = "signInStatus == true">
                <a routerLink = "/dashboard" routerLinkActive = "true"><h3>Dashboard</h3></a>
            </div>
        </div>
        <router-outlet></router-outlet>
	</body>
</html>